$_100: #FFF4E9;
$_200: #FFDFBE;
$_300: #FFCA93;
$_400: #FEB567;
$_500: #FEA03C;
$_600: #E58622;
$_700: #B2681B;
$_800: #7F4B13;
$_900: #331E08;
$_8transparent: rgba(254, 149, 38, 0.08);
$_16transparent: rgba(254, 149, 38, 0.16);
$_24transparent: rgba(254, 149, 38, 0.24);
$_32transparent: rgba(254, 149, 38, 0.32);
$_40transparent: rgba(254, 149, 38, 0.4);
$_48transparent: rgba(254, 149, 38, 0.48);
$font_family_600: 'Open Sans', sans-serif;
$font_family_400: 'Inter', sans-serif;



